@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-font: "Playfair Display", serif;
  --normal-font: "Roboto", "Tahoma", sans-serif;
  --bg-accent-color: #428eaf;
  --shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  --red: #912b21;
  --mauve: #7e75c5;
  --green: #678e53;
  --pink: #b869b1;
  --orange: #cd9347;
  --blue: #64a0ce;
}

section {
  padding: 50px 100px;
  position: relative;
}

section:not(:last-of-type) {
  margin-bottom: 100px;
}

.title {
  font-family: var(--title-font);
  font-weight: normal;
}

.normal {
  font-family: var(--normal-font);
}

.about {
  display: flex;
  overflow-x: clip;
}

.background {
  width: 200vw;
  height: 120%;
  background-color: var(--bg-accent-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(-200px, -450px) rotate(-10deg);
  box-shadow: var(--shadow);
}

.card {
  box-shadow: var(--shadow);
}

.about-card {
  background-color: white;
  margin: 50px 0;
  padding: 25px 50px;
}

.about-title,
.work-title,
.contact-title {
  font-size: 3.8em;
  margin-bottom: 1em;
}

.about-text {
  font-size: 2em;
}

.img-container {
  max-width: 40%;
  position: relative;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.name-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 4em;
  margin-inline: auto;
  width: fit-content;
  color: white;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
}

.img-placeholder {
  padding: 20%;
  height: 400px;
  font-size: 3em;
  font-family: var(--title-font);
  text-align: center;
  color: white;
}

.red {
  background-color: var(--red);
}

.mauve {
  background-color: var(--mauve);
}

.green {
  background-color: var(--green);
}

.pink {
  background-color: var(--pink);
}

.orange {
  background-color: var(--orange);
}

.blue {
  background-color: var(--blue);
}

.project-content {
  padding: 15px 25px 100px;
}

.project-content-upper {
  margin-bottom: 15px;
}

.project-title {
  font-size: 1.6em;
}

.project-text {
  font-size: 1.3em;
}

.about-links {
  margin-top: 40px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.link-logo {
  width: 64px;
}

.contact {
  background-color: var(--bg-accent-color);
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.contact * {
  color: white;
}

.contact .img-container {
  max-width: 60%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-text,
.contact-address,
.contact-tel,
.contact-mail {
  font-size: 2em;
}

@media (max-width: 1000px) {
  .about,
  .contact {
    flex-direction: column;
  }

  .img-container,
  .contact .img-container {
    max-width: 100%;
  }
}